body {
  font-family: 'Anek Devanagari', sans-serif;
}

.navbar-brand {
  font-family: 'Alatsi', sans-serif;
  font-size: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #6c757d;
}

.alert {
  font-size: 1.2rem;
}

.section {
  background-color: #f7f7f7;
  font-size: 1.2rem;
}

.section .row {
  align-items: center;
}

.section h2 {
  font-family: 'Alatsi', sans-serif;
  font-size: 3rem;
}

.section p {
  font-size: 1.2rem;
}

.section .btn {
  font-size: 1.2rem;
}
